a,
body,
div,
header,
li,
nav,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body #wrapper {
  width: 960px;
  margin: 0 auto;
  color: #575E5B;
}
body #wrapper header {
  background-color: #F6F5E9;
}
body #wrapper header h1 {
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 16px;
  float: left;
  text-transform: uppercase;
}
body #wrapper header #nav {
  padding: 16px 8px;
}
body #wrapper header #nav ul {
  float: right;
}
body #wrapper header #nav ul li {
  padding-left: 15px;
  display: inline-block;
}
body #wrapper #content {
  font-size: 14px;
}
body #wrapper #content h1 {
  font-size: 24px;
}
body #wrapper #searchBar {
  font-size: 14px;
  display: inline-block;
  color: #C6C6C6;
  background-color: black;
  width: 950px;
  padding: 8px;
}
body #wrapper #searchBar #archives {
  float: left;
}
body #wrapper #searchBar #search {
  float: right;
}
.clear {
  clear: both;
}
a {
  text-decoration: none;
  color: #C6C6C6;
}
